# Ignore .DS_Store files (macOS system files)
.DS_Store

# Ignore __pycache__ directories
__pycache__/

# Ignore logs from TensorBoard
logs/

# Ignore saved models
saved_models/

# Ignore dataset file
test/