# Ignore .DS_Store files (macOS system files)
.DS_Store

# Ignore __pycache__ directories
__pycache__/

# Ignore saved models
saved_models/

# Ignore logs
logs/

# Ignore Hyperparameter settings
hyperparameters/

# Ignore run_script
run_script.sh

