# Ignore .DS_Store files (macOS system files)
.DS_Store

# Ignore __pycache__ directories
__pycache__/

# Ignore saved models
saved_models/

# Ignore dataset file
test/

# Ignore new data
new_data/

# Ignore logs
logs/

# Ignore run_script
run_script.sh